// Here you can easily change your sites's color scheme.

$main-bg: #FFF;
$page-bg: #FFF;
$header-bg: #FFF;
$title-color: #333;
$subtitle-color: #4D4D4D;
$noise-bg: #FFF;

$nav-bg: #4D4D4D;
$nav-bg-front: none;
$nav-bg-back: #4D4D4D;
$nav-color: #FFF;
$nav-color-hover: #FF9900;

$footer-bg: #FFF;
$footer-bg-front: none;
$footer-bg-back: #FFF;
